openapi: 3.1.0
info:
  title: API für IQB-ResponseAnalyser
  version: '0.2.0'
  description: |
    Der ResponseAnalyser ist ein Teil der [TBA-Architektur](https://iqb-berlin.github.io/tba-info) 
    für die Kodierung und die Datenanalyse von Lernstandserhebungen. Es werden Konfigurationsdaten 
    hochgeladen und dann pro Request die Kodierung und Analyse EINER Testperson geliefert.
  contact:
    name: Tech Support
    email: iqb-tbadev-support@hu-berlin.de
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://www.iqb-responseanalyser.de/
    description: Beispiel

tags:
  - name: admin
    description: Verwaltung von Arbeitsbereichen
  - name: manage-content
    description: Hochladen/Löschen von Assessment Content
  - name: evaluate
    description: Testergebnisse kodieren und analysieren

paths:
  /ws-admin:
    put:
      tags:
        - admin
      summary: Anlegen Arbeitsbereich
      description: Ein neuer Arbeitsbereich wird angelegt
      operationId: putWorkspace
      requestBody:
        description: Name des neuen Arbeitsbereiches
        required: true
        content:
          text/plain:
            schema:
              type: string
            example: "VERA2027-Pilotierung"
      responses:
        '200':
          description: Arbeitsbereich angelegt
          content:
            text/plain:
              schema:
                type: number
              example: 365
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /ws-admin/{workspaceId}:
    patch:
      tags:
        - admin
      summary: Umbenennen Arbeitsbereich
      description: Ein Arbeitsbereich wird umbenannt
      operationId: patchWorkspace
      parameters:
         - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        description: Neuer Name des Arbeitsbereiches
        required: true
        content:
          text/plain:
            schema:
              type: string
            example: "VERA2027-Haupterhebung"

      responses:
        '200':
          description: Arbeitsbereich angelegt
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    get:
      tags:
        - admin
      summary: Allgemeine Daten des Arbeitsbereiches werden abgefragt.
      description: Abruf von Name, Unitliste und Skalenliste
      operationId: getWorkspaceInfo
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      responses:
        '200':
          description: Workspace-Info erfolgreich abgerufen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /ws-admin/{workspaceId}/upload-unit:
    post:
      tags:
        - manage-content
      summary: Hochladen des Kodierschemas und der Itemliste einer Unit
      operationId: uploadUnitData
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                codingScheme:
                  $ref: 'https://w3id.org/iqb/spec/coding-scheme/3.3'
                items:
                  $ref: '#/components/schemas/Items'

      responses:
        '200':
          description: Daten hochgeladen
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /ws-admin/{workspaceId}/upload-scale:
    post:
      tags:
        - manage-content
      summary: Hochladen einer Skalendefinition
      operationId: uploadScale
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: 'https://w3id.org/iqb/spec/acp-scale/0.2'

      responses:
        '200':
          description: Daten hochgeladen
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /ws-admin/{workspaceId}/delete-unit/{unitId}:
    delete:
      tags:
        - manage-content
      summary: Löschen von Unit-Daten
      operationId: deleteUnitData
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
        - $ref: '#/components/parameters/UnitId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object

      responses:
        '200':
          description: Daten löschen
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /ws-admin/{workspaceId}/delete-scale/{scaleId}:
    delete:
      tags:
        - manage-content
      summary: Löschen von Skalendaten
      operationId: deleteScale
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
        - $ref: '#/components/parameters/ScaleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object

      responses:
        '200':
          description: Daten löschen
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /evaluate/{workspaceId}:
    post:
      tags:
        - evaluate
      summary: Kodieren und analysieren der Daten einer Testperson
      description: |
        Die Definitionen, die in einem Arbeitsbereich hinterlegt sind, werden auf die Antworten der Testperson 
        angewendet. Es werden Antworten kodiert und anschließend Fähigkeitswerte ermittelt. Die Daten der Person
        werden nicht gespeichert, d. h. bei einem späteren Aufruf müssen wieder alle Antworten übermittelt werden.
      operationId: evaluateResponses
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluationInput'
      responses:
        '200':
          description: Workspace-Info erfolgreich abgerufen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationOutput'

        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  parameters:
    WorkspaceId:
      name: workspaceId
      in: path
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1
        example: 354
      description: Eindeutige Kennung für den Arbeitsbereich
    UnitId:
      name: unitId
      in: path
      required: true
      schema:
        type: string
        example: GZ88827a
      description: Eindeutige Kennung für eine Unit
    ScaleId:
      name: scaleId
      in: path
      required: true
      schema:
        type: string
        example: "iqb.bista-primar-de.2027"
      description: Eindeutige Kennung für eine Skala

  schemas:
    # Response Wrappers
    WorkspaceInfo:
      type: object
      properties:
        name:
          type: string
          description: Name of workspace
        units:
          type: array
          description: List of units with data in this workspace
          items:
            type: object
            properties:
              id:
                type: string
              hasCodingScheme:
                type: boolean
                default: false
              hasItemlist:
                type: boolean
                default: false
            required:
              - id
        Scales:
          type: array
          description: List of scales in this workspace
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              type:
                type: string
            required:
              - id
              - type

    Items:
      description: List of items of one unit.
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          useUnitAliasAsPrefix:
            description: If true, the unique item identifier will be composed of the unit alias and the item id. If false, the item id has no prefix.
            type: boolean
            default: true
          name:
            type: string
          sourceVariable:
            description: Refers to the variable providing its score as item value
            type: string
        required:
          - id
          - sourceVariable

    unitResponses:
      type: object
      properties:
        surveyPart:
          type: string
        unitId:
          type: string
        unitAlias:
          type: string
        responses:
          type: array
          items:
            $ref: 'https://w3id.org/iqb/spec/response/1.5'
          minItems: 1
          example:
            - id: "M23441_2"
              status: "INVALID"
              value: 4
            - id: "M23441_3"
              status: "CODING_COMPLETE"
              value: "wunderbAre Sache!"
              code: 0
              score: 0
      required:
        - unitId
        - responses

    EvaluationInput:
      description: |
        Es werden alle Antworten einer Person übergeben. Das Format 
        entspricht dem IQB-Standard für Antwortdaten des IQB-Testcenters.
        Außerdem können zusätzliche Itemwerte aus anderen Quellen übergeben werden.
      type: object
      properties:
        responses:
          type: array
          items:
            $ref: '#/components/schemas/unitResponses'
          minItems: 1
        addOnItems:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              value:
                type: integer
            required:
              - id
              - value
            additionalProperties: false
      additionalProperties: false
      example:
        responses:
          - unitId: "M28347"
            responses:
            - id: "2"
              status: "VALUE_CHANGED"
              value: 4
            - id: "3"
              status: "VALUE_CHANGED"
              value: "wunderbAre Sache!"
            - id: "aac"
              status: "CODING_COMPLETE"
              value:
                - 4
                - 5
                - 7
                - 1
              code: 3
              score: 1
        addOnItems:
          - id: "K3445"
            value: 1
          - id: "K3335"
            value: -99
          - id: "K0445"
            value: 0

    EvaluationOutput:
      type: object
      properties:
        codedResponses:
          description: Alle beim Aufruf übergebenen Antworten werden kodiert zurückgegeben.
          type: array
          items:
            $ref: '#/components/schemas/unitResponses'
          minItems: 1
          example:
            - unitId: "M28347"
              responses:
              - id: "2"
                status: "INVALID"
                value: 4
              - id: "3"
                status: "CODING_COMPLETE"
                value: "wunderbAre Sache!"
                code: 0
                score: 0
        itemValues:
          description: Für alle Items, zu denen Antworten vorlagen, werden Werte geliefert.
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              value:
                type: integer
            required:
              - id
              - value
            additionalProperties: false
          example:
            - id: "M23441a"
              value: -99
            - id: "M23441b"
              value: 0
            - id: "M23441c"
              value: 1
        scaleValues:
          description: Für alle Skalen, zu denen Antworten oder zusätzliche Itemwerte vorlagen, werden Werte geliefert.
          type: array
          items:
            type: object
            properties:
              surveyPartId:
                type: string
              scaleId:
                type: string
              value:
                type: number
            required:
              - surveyPartId
              - scaleId
              - value
            additionalProperties: false
          example:
            - surveyPartId: "IQBSCP-A-923"
              scaleId: "IQB.FCSum"
              value: 1
            - surveyPartId: "IQBSCP-A-923"
              scaleId: "IQB.FCRatio"
              value: 3
            - surveyPartId: "IQBSCP-A-923"
              scaleId: "IQB.Komp.GER"
              value: 34
      additionalProperties: false

    # Error Models
    Error:
      type: object
      properties:
        code:
          type: string
          description: Fehlercode für programmatische Behandlung
        message:
          type: string
          description: Menschenlesbare Fehlermeldung
        details:
          type: object
          description: Zusätzliche Fehlerdetails
      required: [code, message]

  responses:
    BadRequest:
      description: Ungültige Anfrageparameter
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example: |
            {
            "code": "INVALID_PARAMETER",
            "message": "Der Parameter 'Name des neuen Arbeitsbereiches' ist erforderlich"
            }

    Forbidden:
      description: Zugriff verweigert - unzureichende Berechtigungen
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example: |
            {
            "code": "ACCESS_DENIED",
            "message": "Sie haben keine Berechtigung für den Zugriff auf diese Ressource"
            }

    NotFound:
      description: Ressource nicht gefunden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example: |
            {
            "code": "RESOURCE_NOT_FOUND",
            "message": "Unit mit ID 12345 nicht gefunden"
            }

    InternalError:
      description: Interner Serverfehler
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example: |
            {
            "code": "INTERNAL_ERROR",
            "message": "Ein unerwarteter Fehler ist aufgetreten"
            }

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []
