openapi: 3.1.0
info:
  title: API für IQB-ResponseAnalyser
  version: 0.5.0
  description: "Interner ResponseAnalyser ohne Frontend,
    Authentifizierung oder Rollenmodell. Eine Dienstinstanz, persistente Workspace-Definitionen,
    keine dauerhafte Speicherung von Personenantworten oder Ergebnissen. Der Aufrufer verantwortet
    Personenbezug und Ergebnisspeicherung. Der Dienst besitzt kein Messzeitpunktmodell: fachlich gleiche Skalen 
    unterschiedlicher Messzeitpunkte haben verschiedene scaleId."
  contact:
    name: Tech Support
    email: iqb-tbadev-support@hu-berlin.de
  license:
    name: CC0
    url: https://creativecommons.org/publicdomain/zero/1.0/deed.en
servers:
  - url: https://www.iqb-responseanalyser.de/
    description: Beispiel
paths:
  /:
    put:
      summary: Anlegen Arbeitsbereich
      description:
        Legt ohne Request-Body einen namenlosen Workspace mit effektiver Defaultkonfiguration an und
        liefert dessen ID zurück. Es gibt keinen Workspace-State und keine Freigabeoperation.
      operationId: putWorkspace
      responses:
        "200":
          description: Arbeitsbereich angelegt
          content:
            text/plain:
              schema:
                type: number
              example: 365
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /{workspaceId}:
    get:
      summary: Allgemeine Daten des Arbeitsbereiches werden abgefragt.
      description:
        Abruf von Unitliste und Skalenliste. Workspaces besitzen weder Namen noch Lifecycle-State und
        werden ausschließlich über workspaceId adressiert.
      operationId: getWorkspaceInfo
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      responses:
        "200":
          description: Workspace-Info erfolgreich abgerufen
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceInfo"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Workspace löschen
      operationId: deleteWorkspace
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      description:
        "Löscht Workspace samt Definitionen, Aliaszuordnungen und Konfiguration. Der Aufrufer
        schließt zuvor alte Aufträge einschließlich Ergebnisspeicherung ab oder verwirft sie verbindlich. Unbekannte
        ID: 404."
      responses:
        "200":
          description: Operation erfolgreich
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /{workspaceId}/upload-unit:
    post:
      summary: Hochladen jeweils des Kodierschemas und der Itemliste für mehrere Units
      operationId: uploadUnitData
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  aliases:
                    type: array
                    items:
                      type: string
                    uniqueItems: true
                    description:
                      Bei fehlender oder leerer Liste wird id als einziger Alias verwendet. Aliase müssen
                      innerhalb des Workspace eindeutig sein.
                  codingScheme:
                    $ref: https://w3id.org/iqb/spec/coding-scheme/3.4
                  items:
                    $ref: "#/components/schemas/Items"
                    description:
                      Bei fehlender oder leerer Itemliste automatische Erzeugung nach itemNaming; sonst
                      explizites Mapping. Explizite Präfixbildung bleibt unitAlias + item.id ohne automatischen separator.
                required:
                  - id
                  - codingScheme
                additionalProperties: false
      responses:
        "200":
          description: Daten hochgeladen
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      description:
        Definitionen ersetzen vorhandene Daten gleicher ID atomar. Vorwärtsreferenzen sind zulässig.
  /{workspaceId}/upload-scale-base:
    post:
      summary: Hochladen von Basis-Skalendefinitionen
      operationId: uploadScaleBase
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: https://w3id.org/iqb/spec/acp-scale-base/0.4
      responses:
        "200":
          description: Daten hochgeladen
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      description:
        Definitionen ersetzen vorhandene Daten gleicher ID atomar. Vorwärtsreferenzen sind zulässig.
  /{workspaceId}/upload-scale-derived:
    post:
      summary: Hochladen von Definitionen für abgeleitete Skalen
      operationId: uploadScaleDerived
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: https://w3id.org/iqb/spec/acp-scale-derived/0.4
      responses:
        "200":
          description: Daten hochgeladen
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      description:
        Definitionen ersetzen vorhandene Daten gleicher ID atomar. Vorwärtsreferenzen sind zulässig.
  /{workspaceId}/configuration:
    put:
      summary: Konfiguration ersetzen
      operationId: putWorkspaceConfiguration
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      description:
        Ersetzt die Konfiguration atomar; nicht angegebene Werte werden auf Defaults zurückgesetzt. Kein
        Merge mit der früheren Konfiguration.
      responses:
        "200":
          description: Operation erfolgreich
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceConfiguration"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceConfiguration"
  /{workspaceId}/reset:
    post:
      summary: Workspace-Inhalt vollständig leeren
      operationId: resetWorkspace
      parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      description: Löscht Units, Aliase und Skalen atomar und setzt die Konfiguration auf Defaults zurück. Die Workspace-ID
        bleibt erhalten. Wiederholbar.
      responses:
        '200':
          description: Operation erfolgreich
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /{workspaceId}/evaluate:
    post:
      summary: Kodieren und analysieren der Daten einer Testperson
      operationId: evaluateResponses
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvaluationInput"
      responses:
        "200":
          description: Kodierte Antworten, zusammengeführte Itemwerte und relevante Skalenresultate.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvaluationOutput"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  parameters:
    WorkspaceId:
      name: workspaceId
      in: path
      required: true
      schema:
        type: integer
        format: int64
        minimum: 1
        example: 354
      description: Eindeutige Kennung für den Arbeitsbereich
    UnitId:
      name: unitId
      in: path
      required: true
      schema:
        type: string
        example: GZ88827a
      description: Eindeutige Kennung für eine Unit
    ScaleId:
      name: scaleId
      in: path
      required: true
      schema:
        type: string
        example: iqb.bista-primar-de.2027
      description: Eindeutige Kennung für eine Skala
  schemas:
    WorkspaceInfo:
      type: object
      properties:
        units:
          type: array
          description: List of units with data in this workspace
          items:
            type: object
            properties:
              id:
                type: string
              hasCodingScheme:
                type: boolean
                default: false
              hasItemlist:
                type: boolean
                default: false
            required:
              - id
        scales:
          type: array
          description: List of scales in this workspace
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              type:
                type: string
            required:
              - id
              - type
        config:
          $ref: "#/components/schemas/WorkspaceConfiguration"
      required:
        - units
        - scales
      additionalProperties: false
    Items:
      description:
        Explizite Itemzuordnung. useUnitAliasAsPrefix default true. Diese Liste hat Vorrang vor automatischer
        Itembenennung; deren drei Sonderregeln gelten hier nicht.
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          useUnitAliasAsPrefix:
            description:
              If true, the unique item identifier will be composed of the unit alias and the item id.
              If false, the item id has no prefix.
            type: boolean
            default: true
          name:
            type: string
          sourceVariable:
            description: Refers to the variable providing its score as item value
            type: string
        additionalProperties: false
        required:
          - id
          - sourceVariable
    unitResponses:
      type: object
      properties:
        unitAlias:
          type: string
        responses:
          type: array
          items:
            $ref: https://w3id.org/iqb/spec/response/2.0
          minItems: 1
          example:
            - id: M23441_2
              status: INVALID
              value: 4
            - id: M23441_3
              status: CODING_COMPLETE
              value: wunderbAre Sache!
              code: 0
              score: 0
      additionalProperties: false
      required:
        - unitAlias
        - responses
    itemValues:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          code:
            type: integer
          score:
            type: integer
        required:
          - id
          - code
          - score
        additionalProperties: false
      example:
        - id: M23441a
          code: 1
          score: -99
        - id: M23441b
          code: 23
          score: 0
        - id: M23441c
          code: 1
          score: 1
    EvaluationInput:
      description:
        Alle verfügbaren Antworten und optional zusätzliche Item-/Skalenwerte einer Person. Keine Personen-ID
        und keine Messzeitpunktinformation. Unterschiedliche fachliche Skalen werden ausschließlich durch unterschiedliche
        scaleId unterschieden. Berechnete Items haben bei gleicher id vollständig Vorrang vor Zusatzitems. Berechnete
        Skalenresultate haben bei gleicher scaleId auch im Fehlerfall Vorrang vor Zusatzwerten; es erfolgt kein
        feldweises Zusammenführen und kein Ersatz eines Fehlers durch den Zusatzwert. Doppelte IDs innerhalb einer
        Zusatzliste oder doppelte automatische Item-IDs werden abgewiesen. Ohne responses sind Anfragen nur mit
        Zusatzwerten möglich. Eine leere Eingabe liefert leere Ergebnislisten.
      type: object
      properties:
        responses:
          type: array
          items:
            $ref: "#/components/schemas/unitResponses"
          minItems: 1
        addOnItems:
          $ref: "#/components/schemas/itemValues"
        addOnScaleValues:
          description:
            Zusätzliche numerische Quellskalenwerte; keine Messzeitpunkt-Metadaten. Bei Namenskonflikt
            hat ein ermitteltes Skalenresultat Vorrang, auch mit Fehlerstatus. Diese Werte dienen als Quellen und
            werden nicht allein deshalb als eigene berechnete Ergebnisse ausgegeben.
          type: array
          items:
            type: object
            properties:
              scaleId:
                type: string
              value:
                type: number
            required:
              - scaleId
              - value
            additionalProperties: false
      additionalProperties: false
      example:
        responses:
          - responses:
              - id: "2"
                status: VALUE_CHANGED
                value: 4
              - id: "3"
                status: VALUE_CHANGED
                value: wunderbAre Sache!
              - id: aac
                status: CODING_COMPLETE
                value:
                  - 4
                  - 5
                  - 7
                  - 1
                code: 3
                score: 1
            unitAlias: M28347
        addOnItems:
          - id: K3445
            code: 2
            score: 1
          - id: K3335
            code: 5
            score: -99
          - id: K0445
            code: 0
            score: 0
    EvaluationOutput:
      type: object
      properties:
        codedResponses:
          description: Alle beim Aufruf übergebenen Antworten werden kodiert zurückgegeben.
          type: array
          items:
            $ref: "#/components/schemas/unitResponses"
          example:
            - responses:
                - id: "2"
                  status: INVALID
                  value: 4
                - id: "3"
                  status: CODING_COMPLETE
                  value: wunderbAre Sache!
                  code: 0
                  score: 0
              unitAlias: M28347
        itemValues:
          $ref: "#/components/schemas/itemValues"
        scaleValues:
          type: array
          items:
            $ref: "#/components/schemas/ScaleResult"
          description:
            Relevanz und Berechenbarkeit sind getrennt. Eine Basisskala ohne irgendeinen zugeordneten
            Itemeintrag in der zusammengeführten Itemliste wird nicht berichtet. Auch ein Itemeintrag mit MISSING
            begründet Relevanz; er liefert jedoch keinen verwendbaren Score. Alle relevanten Skalen werden mit VALID
            und value oder einem Fehlerstatus ohne value berichtet. Derived-Relevanz entsteht durch mindestens eine
            relevante effektive Quellskala oder einen zusätzlich gelieferten effektiven Quellwert; ohne jede solche
            Quelle entfällt die Skala. Für MAP ist ausschließlich sources[0] effektiv, weitere Quellen werden nicht
            ausgewertet, begründen keine Relevanz und keine Mindestanforderung. Für andere Derived-Methoden sind
            alle aufgeführten Quellen erforderlich. Relevanz wird entlang der effektiven Abhängigkeiten fortgepflanzt.
            Reine Zusatzskalen werden nicht als berechnete Resultate durchgereicht.
          example:
            - scaleId: base.example
              status: VALID
              value: 3
            - scaleId: derived.example
              status: INSUFFICIENT_SOURCE
      additionalProperties: false
      required:
        - codedResponses
        - itemValues
        - scaleValues
    Error:
      type: object
      properties:
        code:
          type: string
          description: Fehlercode für programmatische Behandlung
        message:
          type: string
          description: Menschenlesbare Fehlermeldung
        details:
          type: object
          description: Zusätzliche Fehlerdetails
      required:
        - code
        - message
    WorkspaceConfiguration:
      description: "Some parameters for coding and analysis in general."
      type: object
      properties:
        itemMatrixRules:
          $ref: https://w3id.org/iqb/spec/item-matrix-rules/0.2
    ScaleResult:
      type: object
      additionalProperties: false
      properties:
        scaleId:
          type: string
        status:
          type: string
          enum:
            - VALID
            - SCALE_DEF_ERROR
            - CODING_ERROR
            - INSUFFICIENT_SOURCE
        value:
          type: number
      required:
        - scaleId
        - status
      allOf:
        - if:
            properties:
              status:
                const: VALID
            required:
              - status
          then:
            required:
              - value
          else:
            not:
              required:
                - value
  responses:
    BadRequest:
      description: Ungültige Anfrageparameter
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: INVALID_PARAMETER
            message: Ein Anfrageparameter ist ungültig.
    NotFound:
      description: Ressource nicht gefunden
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: RESOURCE_NOT_FOUND
            message: Unit mit ID 12345 nicht gefunden
    InternalError:
      description: Interner Serverfehler
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: INTERNAL_ERROR
            message: Ein unerwarteter Fehler ist aufgetreten
